@{
    ViewBag.Title = "Acerca de Somos UP";
}
<h2>@ViewBag.Title</h2>

<p>Ayudemos a nuestros hermanos damnificados nuestro campus en la Ciudad de México.<br />
   Éste es el momento de mostrar nuestra unidad y orgullo UP, ayudando a aquellos que fueron desfavorecidos en el lamentable suceso del 19 de septiembre.</p>
