@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>

<h3>Lic.Victor Hugo De Avila Cardenas</h3>
<h4>Coordinador de Compromiso Social</h4>
<address>
    <i class="fa fa-envelope" aria-hidden="true"></i> <a href="mailto:vdeavila@up.edu.mx" target="_top">vdeavila@up.edu.mx</a><br />
    Universidad Panamericana, Campus Aguascalientes<br />
    Tel. (449) 910 6200 Ext. 7244<br />
    <i class="fa fa-external-link-square" aria-hidden="true"></i> Sitio Web: <a href="http://www.up.edu.mx">www.up.edu.mx</a> |
    <i class="fa fa-instagram" aria-hidden="true"></i> Instagram: <a href="https://www.instagram.com/upbonaterra/">@@UPbonaterra</a> |
    <i class="fa fa-twitter-square" aria-hidden="true"></i> Twitter: <a href="https://twitter.com/upbonaterra">@@UPbonaterra</a> |
    <i class="fa fa-facebook-official" aria-hidden="true"></i> Facebook: <a href="http://facebook.com/BonaterraUP">BonaterraUP</a><br />
</address>