@{
    ViewBag.Title = "Inicio";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="inner cover">
    <h1>Somos UP</h1>
    <p><strong>Ciudad de México, 25 de septiembre de 2017. </strong>Tras el terrible sismo de 7.1 grados que sacudió a la Ciudad de México y a los estados de México, Morelos y Puebla —el pasado 19 de septiembre—, causando terribles pérdidas humanas e incontables daños materiales, la comunidad universitaria se mostró muy solidaria para apoyar a las víctimas.</p>
    <p>Desde ese momento y a lo largo de varios días, más de 4,600 voluntarios (alumnos, profesores, colaboradores, alumni, padres de familia y vecinos) se dieron cita en el campus para apoyar en diversas acciones, las 24 horas del día.</p>
    <p>
        Hoy más que nunca, gracias por demostrar de qué está hecha la COMUNIDAD UP.<br />
        ¡Orgullo UP!
    </p>
    @Html.ActionLink("Donar", "Index", "Products", null, new { @class = "btn btn-xlg btn-default" })
</div>