@model IEnumerable<AcopioUP.Models.CollectionCenter>
@{
    ViewBag.Title = "List";
}

<h2>Centros de Acopio</h2>

@if (!Model.Any())
{
    <p>No hay Centros de acopio agregados aun</p>
}
<p>
    @Html.ActionLink("Agregar Centro de Acopio", "New", "CollectionCenters", null, new { @class = "btn btn-primary", @style = "margin-bottom: 10px" })
</p>

<table id="collection-centers" class="table table-bordered table-hover">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Dirección</th>
        <th>Número de teléfono</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var collector in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(collector.Name,"Edit","CollectionCenters",new { @id=collector.Id }, new { @style= "display: block;" } )
            </td>
            <td>
                @Html.ActionLink(collector.Address, "Edit", "CollectionCenters", new { @id = collector.Id }, new { @style = "display: block;" })
            </td>
            <td>
                @Html.ActionLink(collector.PhoneNumber, "Edit", "CollectionCenters", new { @id = collector.Id }, new { @style = "display: block;" })
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#collection-centers").dataTable();
        });
    </script>
}
