@using AcopioUP.Models
@model IEnumerable<Beneficiary>
@{
    ViewBag.Title = "ReadOnlyList";
}

<h2>Beneficiarios</h2>
<table id="beneficiaries" class="table table-bordered table-hover" >
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var beneficiary in Model)
    {
        <tr>
            <td>
                @beneficiary.FullName
            </td>
            <td>
                @beneficiary.Email
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $("#beneficiaries").DataTable();
        });
    </script>
}