@using AcopioUP.Models
@model IEnumerable<Victim>
@{
    ViewBag.Title = "ReadOnlyList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Víctimas</h2>

<p>
    @Html.ActionLink("Nueva Víctima", "New", "Victims", null, new { @class = "btn btn-primary" })
</p>

<table id="victims" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
            <th>Eliminar</th>
        </tr>
    </thead>
    <tbody></tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            var table = $("#victims").DataTable({
                ajax: {
                    url: "/api/victims",
                    dataSrc: ""
                },
                columns: [
                    {
                        data: "fullName",
                        render: function (data, type, victim) {
                            return "<a href='/victims/edit/" + victim.id + "' style='display: block;' class='list- group - item list- group - item - action' >" + victim.fullName + "</a>";
                        }
                    },
                    {
                        data: "email",
                        render: function (data, type, victim) {
                            return "<a href='/victims/edit/" + victim.id + "'style='display: block;'>" + victim.email + "</a>";
                        }
                    },
                    {
                        data: "id",
                        render: function (data) {
                            return "<button class='btn btn-danger js-delete' data-victim-id=" + data + "style='display: block;'>Eliminar</button>";
                        }
                    }

                ]
            });

            $("#victims").on("click", ".js-delete", function () {
                var button = $(this);
                bootbox.confirm("Estas seguro que quieres eliminar esta victima?", function (result) {
                    if (result) {
                        $.ajax({
                            url: "/api/victims/" + button.attr("data-victim-id"),
                            method: "DELETE",
                            success: function () {
                                table.row(button.parents("tr")).remove().draw();
                            }
                        });
                    }
                });
            });
        });
    </script>
}
