@using AcopioUP.Models
@model IEnumerable<Victim>
@{
    ViewBag.Title = "ReadOnlyList";
}

<h2>Damnificados</h2>

<p>
    @Html.ActionLink("Nuevo Damnificado", "New", "Victims", null, new { @class = "btn btn-primary" })
</p>
<table id="victims" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Email</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var victim in Model)
    {
        <tr>
            <td>
                @Html.ActionLink(victim.FullName,"Edit","Victims",new { @id=victim.Id }, new { @style= "display: block;" } )
            </td>
            <td>
                @Html.ActionLink(victim.Email, "Edit", "Victims", new { @id = victim.Id }, new { @style = "display: block;" })
            </td>
        </tr>
    }
    </tbody>
</table>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("#victims").DataTable();
        });
    </script>
}
